<nav class="w-full h-[10%] bg-red-300">
    <h1 class="text-xl font-semibold">Blog Website</h1>

    <div class="atags">
        <a href="">Create Blog</a>
        <a href="" >About</a>
        <a href="">Contact</a>
    </div>

    <div class="login-signup">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

</nav>